body {
    background-color: #1d1f27;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2f38;
    padding: 15px 30px;
    border-bottom: 3px solid #3e8fff;
}

.sair {
    background-color: #3e8fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background-color: #2c2f38;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000070;
}

.card h2 {
    margin-top: 0;
    color: #3e8fff;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
}

.btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3e8fff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.mensagem {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
.voltar{
    background-color: #4391ff;
}
.lista-container {
    width: 90%;
    margin: 40px auto;
    background-color: #2c2f38;
    padding: 20px;
    border-radius: 10px;
}

.lista-container h2 {
    color: #3e8fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

thead {
    background-color: #3e8fff;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #262831;
}

tbody tr:nth-child(odd) {
    background-color: #1f2129;
}

.btn-excluir {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}